@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#footer {
    height: 5%;
    position: fixed;
    bottom: 0%;
}

#img {
    height: 175px;
}

.card {
    text-align: center;

}


